{% include "Layout.html" %}

{% block title %}
<title>Social Eye</title>
{% endblock %}

{% block body %}
{% if request.user.is_authenticated %}
  <div class="flex flex-col items-center p-6">
      <h1 class="text-3xl font-bold text-white mb-6">👁️ Welcome to SocialEye</h1>

      <!-- Posts Section -->
      <div class="w-full max-w-3xl space-y-6">
          {% include "posts.html" with posts=posts comments=comments %}
      </div>
  </div>
  {% else %}
  <a href="{% url "login" %}">Login</a>
  {% endif %}
{% endblock %}
