{% include "Layout.html" %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Eye</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="bg-base-200 min-h-screen">
    <div class="container mx-auto px-4">
        
        {% if request.user.is_authenticated %}
        <div class="flex flex-col items-center p-6">
            <h1 class="text-3xl font-bold text-primary mb-6">👁️ SocialEye</h1>

          {% include "posts.html" with posts=posts comments=comments %}
        </div>
        {% else %}
        
        {% endif %}
        
    </div>
</body>
</html>