
    {% for post in posts %}
    <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
      <a href="{% url 'profile' post.user.id %}" class="font-bold text-blue-400">{{ post.user }}</a>
      <p class="text-lg font-semibold mt-2">{{ post.title }}</p>
      <img src="{{ post.photo.url }}" alt="Post Image" class="rounded-lg mt-3">
      <p class="text-gray-300 mt-2">{{ post.description }}</p>
      <a href="{% url 'commentsforpost' post.id %}" class="text-blue-400 hover:underline">💬 Comments</a>
    </div>
      {% endfor %}
      
  