{% include "Layout.html" %}

{% block body %} 
    {% if request.user.is_authenticated %}
    <h1>{{user.username}}</h1>
        <form action="{% url "follow_unfollow" user.id %}" method="post" id="follow-form">
            {% csrf_token %}
            <button type="submit" id="followbtn">
                {% if request.user in user.following.all %}
                unfollow
                {% else %}
                follow
                {% endif %}
            </button>
        </form>

    <div>
    {% include "posts.html" with posts=posts %}
    </div>
    <div>
        {% include "reel_page.html" with reels=reels %}
    </div>
{% endif %}
<script>
    document.getElementById("follow-form").addEventListener("submit", function(event) {
        event.preventDefault();
        
        let formData = new FormData(this);
        fetch(this.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
            },
            credentials: "same-origin"
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById("followbtn").innerText = data.status === "follow" ? "Unfollow" : "Follow";
        });
    });
</script>
{% endblock %}